:root {
  --color-shadow-black: rgba(0, 0, 0, 0.1);
  --color-black: black;
  --color-gradient-blue: #155dfc;
  --color-white: white;
  --color-gray: gray;
}

.activity-card {
  background-color: var(--color-white);
  border-radius: 10px;
  box-shadow: 0px 10px 15px var(--color-shadow-black);
  color: var(--color-gray);
  display: flex;
  flex-direction: column;
  font-size: 14px;
  gap: 20px;
  min-width: 300px;
  padding: 20px;
}

.card-title {
  font-weight: 600;
}

.activity {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
}

.activity-logo-bg {
  align-items: center;
  border-radius: 10px;
  border: none;
  display: flex;
  height: 40px;
  justify-content: center;
  width: 40px;
}

.activity-context {
  display: flex;
  flex-direction: column;
}

.status-logo {
  align-items: center;
  display: flex;
  gap: 7px;
}

.context {
  color: var(--color-black);
  font-size: 20px;
  font-weight: 600;
}